@keyframes fadeInCompletion {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  100% {
    opacity: 1;
  }
}

.feed-hidden-wrapper {
  margin-top: 30px;

  .feed-hidden-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .feed-hidden-checkmark {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 24px;
      height: 24px;

      svg {
        animation: fadeInCompletion 0.35s ease-in-out 0s forwards;
      }
    }

    .hidden-reason-msg {
      margin: 8px 0 16px;
      color: $gray4;
    }

    .hidden-cancel-btn {
      display: flex;
      align-items: center;

      padding: 5px 10px;

      border-radius: 30px;

      background-color: $gray2;
      color: $gray4;
    }
  }

  &::after {
    content: '';
    display: block;
    height: 0.5px;
    background-color: $gray2;
    margin: 36px 0 14px;
  }
}
