@use '../../styles/_index.scss' as *;

.dropupModal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 33.5px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .modalContent {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
  }

  .modalOption {
    @include responsive-dimensions(280px, 40px);
    background-color: $gray1;
    color: $gray5;
    border: none;
    text-align: center;
  }
  .optionDivider {
    width: 240px;
    margin: 0 auto;
    border: none;
    height: 1px;
    background-color: $gray3;
  }
  .cancleButton {
    @include responsive-dimensions(280px, 47px);
    text-align: center;
    background-color: $gray5;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 8px;
  }
}
