@use '../../styles/_index.scss' as *;

@mixin followButton($isLg: false, $isActive: false) {}

.confirmModal {
  @include responsive-dimensions(252px, 146px);
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: none;
  background-color: white;

  .title {
    color: $gray7;
  }
  .description {
    color: $gray4;
  }
  .buttons {
    @include responsive-dimensions(224px, 40px);
    display: flex;
    justify-content: space-between;
  }
}
