@mixin confirmButton($isDisabled: false) {
  width: 108px;
  height: 40px;
  border-radius: 4px;

  @if $isDisabled {
    color: $gray4;
    background-color: $gray3;
  } @else {
    color: white;
    background-color: $mint3;
  }
}

.confirm {
  @include confirmButton(true);
}
.confirm-disabled {
  @include confirmButton(false);
}

@mixin followButton($isLg: false, $isDisabled: false) {
  border-radius: 30px;

  @if $isLg {
    width: 280px;
    height: 30px;
  } @else {
    width: 48px;
    height: 24px;
  }
  @if $isDisabled {
    color: $gray4;
    background-color: $gray2;
  } @else {
    color: white;
    background-color: $mint3;
  }
}

.follow-lg {
  @include followButton(true, false);
}
.follow-lg-disabled {
  @include followButton(true, true);
}

.follow-sm {
  @include followButton(false, false);
}
.follow-sm-disabled {
  @include followButton(false, true);
}
