.defalut {
}

.confirm-cancle {
  @include responsive-box(108px, 40px);
  border-radius: 4px;
  color: $gray4;
  background-color: $gray2;
}

.bsm-option {
  @include responsive-box(280px, 40px);
  background-color: $gray1;
  color: $gray5;
  text-align: center;
  border-radius: 4px;
}

.bsm-cancle {
  @include responsive-box(280px, 47px);
  text-align: center;
  background-color: $gray5;
  color: white;
  border-radius: 4px;
  margin-top: 8px;
}
