.defalut {
}

.confirm-cancle {
  width: 108px;
  height: 40px;
  border-radius: 4px;
  color: $gray4;
  background-color: $gray2;
}

.bsm-option {
  width: 280px;
  height: 40px;
  background-color: $gray1;
  color: $gray5;
  text-align: center;
  border-radius: 4px;
}

.bsm-cancle {
  width: 280px;
  height: 47px;
  text-align: center;
  background-color: $gray5;
  color: white;
  border-radius: 4px;
  margin-top: 8px;
}
