@use '@/shared/styles/_index.scss' as *;

@mixin confirmButton($isCancle: false, $isActive: false) {
  @include responsive-dimensions(108px, 40px);
  border-radius: 4px;

  @if $isCancle {
    color: $gray4;
    background-color: $gray2;
  } @else if $isActive {
    color: white;
    background-color: $mint3;
  } @else {
    color: $gray4;
    background-color: $gray3;
  }
}

.confirmCancleButton {
  @include confirmButton(true);
}

.confirmButtonActive {
  @include confirmButton(false, true);
}
.confirmButton {
  @include confirmButton(false, false);
}
