@mixin confirmModalButton() {
  width: 96px;
  height: 36px;
  border-radius: 4px;
}

.confirm {
  color: white;
  background-color: $mint3;
  @include confirmModalButton();
}
.cancle {
  color: $gray4;
  background-color: $gray2;
  @include confirmModalButton();
}
