@use '@/shared/styles/_index.scss' as *;

@mixin followButton($isLg: false, $isActive: false) {
  border-radius: 30px;

  @if $isLg {
    @include responsive-dimensions(280px, 30px);
  } @else {
    @include responsive-dimensions(48px, 24px);
  }
  @if $isActive {
    color: white;
    background-color: $mint3;
  } @else {
    color: $gray4;
    background-color: $gray2;
  }
}
.followButtonLgActive {
  @include followButtonLg(true, true);
}
.followButtonLg {
  @include followButton(true, false);
}

.followButtonSmActive {
  @include followButtonSm(false, true);
}
.followButtonSm {
  @include followButtonSm(false, false);
}
