@mixin followButton() {
  width: 48px;
  height: 24px;
  border-radius: 30px;
}

.follow {
  color: white;
  background-color: $gray5;
  @include followButton();
}

.unfollow {
  color: white;
  background-color: $mint3;
  @include followButton();
}
