.iPhone-status,
.iPhone-utility-container {
  display: none;
}

@media (min-width: 1440px) {
  .root-layout {
    width: 100vw;
    height: 100vh;

    background-color: #eff2f9;

    display: flex;
    justify-content: center;
    align-items: center;

    .iPhone-layout {
      position: relative;

      background-image: url('/assets/image/iPhone.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;

      /* 아이폰 이미지의 비율 설정 */
      aspect-ratio: 256 / 538;
      height: var(--iphone-size);

      .iPhone-status {
        /* children의 크기를 아이폰 화면 크기에 맞게 설정 */
        display: block;
        width: 100%;
        background-color: white;
        overflow: hidden;

        z-index: 9999;
        position: sticky;
        top: 0;
      }

      .client-area {
        /* children의 크기를 아이폰 화면 크기에 맞게 설정 */
        position: absolute;
        bottom: 9.25%;
        left: 3.5%;
        right: 2.75%;
        top: 10.3%;

        z-index: 32;
        background-color: white;

        overflow-x: hidden;
      }

      .iPhone-utility-container {
        position: absolute;
        left: 50%;
        bottom: calc(2% + (var(--iphone-size) - 80%) * 0.025);
        transform: translateX(-50%);

        display: flex;
        align-items: center;
        gap: 24px;

        .size-down-btn,
        .retry-btn,
        .size-up-btn {
          width: 40px;
          height: 40px;

          border-radius: 50%;
          border: 1px solid $gray5;

          color: white;
          font-size: 24px;

          cursor: pointer;
        }
      }
    }
  }

  .Toastify__toast-container {
    padding: 0;
    margin-bottom: 0;

    bottom: calc(26% - (var(--iphone-size) - 60%) * 0.4);
  }
}
