.profile {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: none;
  background-color: white;

  .profile-image {
    @include responsive-box(32px, 32px);
    border-radius: 50%;
    overflow: hidden;
  }

  .name-section {
    margin-left: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 2px;

    .name {
      color: $gray7;
    }
    .content {
      color: $gray4;
    }
  }
}
