.carousel-container {
  overflow-x: unset;
  margin-top: 16px;

  .carousel {
    overflow: unset;
  }
}

.carousel {
  .slider {
    display: flex;

    .slide {
      .carousel-item {
        width: inherit;
        height: inherit;
      }

      img {
        aspect-ratio: 4 / 5;
      }
    }
  }

  .control-dots {
    display: flex;
    justify-content: center;
    gap: 4px;

    margin-bottom: 16px;

    .dot {
      width: 4px;
      height: 4px;

      margin: 0;

      background-color: #ffffff66;
      box-shadow: unset;

      opacity: 1;

      &.selected {
        background-color: $mint3;
      }
    }
  }
}
