.profile-user-wrapper {
  height: 260px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 20px 34.5px 0px #dddddd40;

  .profile-image-box {
    position: relative;

    .profile-image {
      width: 81px;
      height: 81px;
      border-radius: 50%;
      overflow: hidden;
      padding-bottom: 5px;
    }

    .no-proile-background {
      position: relative;
      width: 81px;
      height: 81px;
      border-radius: 50%;
      overflow: hidden;
      background: $gray3;

      svg {
        z-index: 1;
        position: absolute;
        bottom: 0;
      }
    }

    .profile-change-btn {
      position: absolute;
      bottom: 4px;
      right: -8px;
      width: 24px;
      height: 24px;
    }
  }

  .profile-top-container {
    height: 148px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .user-name {
      text-align: center;
    }

    .nickname-change-btn {
      width: 67px;
      height: 26px;
      border-radius: 5px;
      color: white;
      background-color: $mint3;
    }

    .user-follow-btn {
      width: 46px;
      height: 26px;
      border-radius: 5px;
      color: white;
      background-color: $mint3;
    }
  }

  .profile-count-container {
    width: 220px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-top: 28px;

    .profile-count {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      gap: 5px;

      .count-number {
        color: $gray7;
      }
      .count-text {
        color: $gray4;
      }
    }

    .count-divider {
      width: 0.5px;
      height: 36px;
      background-color: $gray4;
    }
  }
}
