.profile-image-box {
  position: relative;

  .profile-image {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    overflow: hidden;
    padding-bottom: 5px;
  }

  .no-proile-background {
    position: relative;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    overflow: hidden;
    background: $gray3;

    svg {
      z-index: 1;
      position: absolute;
      bottom: 0;
    }
  }

  .profile-change-btn {
    width: 24px;
    height: 24px;

    z-index: 10;
    position: absolute;

    bottom: 8px;
    right: -5px;
  }
}
