@mixin ReportModalButton() {
  width: 118px;
  height: 40px;
  border-radius: 4px;
}

.confirm-report-modal {
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  border: none;
  background-color: white;

  width: 244px;
  padding: 18px;

  .title {
    align-self: start;
  }

  .modal-btn-container {
    display: flex;
    justify-content: center;
    gap: 8px;

    .confirm-btn {
      color: white;
      background-color: $red3;
      @include ReportModalButton();
      
      &:disabled {
        color: $gray4;
        background-color: $gray3;
      }
    }

    .cancle-btn {
      color: $gray4;
      background-color: $gray2;
      @include ReportModalButton();
    }
  }
}
