@mixin ReportModalButton() {
  width: 118px;
  height: 40px;
  border-radius: 4px;
}

.confirm {
  color: white;
  background-color: $red3;
  @include ReportModalButton();
}
.confirm-disabled {
  color: $gray4;
  background-color: $gray3;
  @include ReportModalButton();
}

.cancle {
  color: $gray4;
  background-color: $gray2;
  @include ReportModalButton();
}
