#feed-main-header {
  padding: 0 3px 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .header-right {
    display: flex;

    .icon-link {
      @include fixed-box(44px, 44px);
    }
  }
}
