.profile-header {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
  margin-top: 3.45px;
  padding-left: 3px;

  .name {
    text-align: center;
  }
}
