$gray1: #f7f8f9;
$gray2: #f0f2f4;
$gray3: #dde0e5;
$gray4: #b3b9c4;
$gray5: #8691a2;
$gray6: #383e4a;
$gray7: #161a1d;
$mint1: #d9f9fb;
$mint2: #9deff6;
$mint3: #00d5e1;
$red1: #fff1f1;
$red2: #ff9999;
$red3: #ff6767;
