$g1: #F7F8F9;
$g2: #F0F2F4;
$g3: #DDE0E5;
$g4: #B3B9C4;
$g5: #8691A2;
$g6: #383E4A;
$g7: #161A1D;
$m1: #D9F9FB;
$m2: #9DEFF6;
$m3: #00D5E1;

:root {
  --g1: #{$g1};
  --g2: #{$g2};
  --g3: #{$g3};
  --g4: #{$g4};
  --g5: #{$g5};
  --g6: #{$g6};
  --g7: #{$g7};
  --m1: #{$m1};  
  --m2: #{$m2};
  --m3: #{$m3};
}
