$gray1: #F7F8F9;
$gray2: #F0F2F4;
$gray3: #DDE0E5;
$gray4: #B3B9C4;
$gray5: #8691A2;
$gray6: #383E4A;
$gray7: #161A1D;
$mint1: #D9F9FB;
$mint2: #9DEFF6;
$mint3: #00D5E1;

:root {
  --gray1: #{$gray1};
  --gray2: #{$gray2};
  --gray3: #{$gray3};
  --gray4: #{$gray4};
  --gray5: #{$gray5};
  --gray6: #{$gray6};
  --gray7: #{$gray7};
  --mint1: #{$mint1};  
  --mint2: #{$mint2};
  --mint3: #{$mint3};
}
