@mixin font-style($weight, $size, $line-height) {
  font-family: 'Pretendard', sans-serif;
  font-weight: $weight;
  font-size: $size * 1rem;
  letter-spacing: -3%;
  line-height: $line-height;

  @font-face {
    font-family: 'Pretendard';
    src:
      url('/assets/font/pretendard-#{$weight}-subset.woff2') format('woff2'),
      url('/assets/font/pretendard-#{$weight}-subset.woff') format('woff');
    font-weight: $weight;
    font-style: normal;
  }
}

.h1bold {
  @include font-style(bold, 1.5, 130%);
} // 24px
.h1semi {
  @include font-style(semibold, 1.5, 130%);
} // 24px
.h2semi {
  @include font-style(semibold, 1.25, 130%);
} // 20px
.h3semi {
  @include font-style(semibold, 1, 140%);
} // 16px
.h4semi {
  @include font-style(semibold, 0.875, 130%);
} // 14px
.h4md {
  @include font-style(medium, 0.875, 130%);
} // 14px

.b1md {
  @include font-style(medium, 0.75, 130%);
} // 12px
.b1semi {
  @include font-style(semibold, 0.75, 130%);
} // 12px
.b1reg {
  @include font-style(regular, 0.75, 140%);
} // 12px
.b2md {
  @include font-style(medium, 0.6875, 130%);
} // 11px
.b2semi {
  @include font-style(semibold, 0.6875, 130%);
} // 11px
.b2reg {
  @include font-style(regular, 0.6875, 130%);
} // 11px
.b3md {
  @include font-style(medium, 0.5625, 130%);
} // 9px
.b4md {
  @include font-style(medium, 0.5, 130%);
} // 8px
