.feed-wrapper {
  .feed-article {
    .feed-header {
      position: relative;
      padding: 0 3px 0 20px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .kebab-icon-btn {
        width: 44px;
        height: 44px;
      }
    }

    .feed-content {
      padding: 10px 0 16px;

      .feed-text {
        padding: 0 20px;
        margin-bottom: 16px;

        color: $gray6;
      }
    }

    .feed-count-container {
      display: flex;
      align-items: center;

      padding-left: 20px;

      .count-divider {
        width: 2px;
        height: 2px;

        margin: 0 4px;
        background-color: $gray4;
      }

      .count-text {
        color: $gray4;
      }
    }

    .feed-footer {
      margin-top: 8px;
      padding: 0 15px 0 20px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .footer-left {
        display: flex;
        gap: 12px;
      }

      .icon-btn {
        width: 20px;
        height: 20px;
      }
    }
  }
}
