.feed-wrapper {
  .feed-article {
    .feed-header {
      position: relative;
      padding: 0 3px 0 20px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .kebab-icon-btn {
        width: 44px;
        height: 44px;
      }
    }

    .feed-content {
      padding: 10px 0 16px;

      .feed-text {
        padding: 0 20px;

        color: $gray6;
      }
    }

    .feed-footer {
      padding: 0 15px 0 20px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .footer-left {
        display: flex;
        gap: 4px;

        .footer-count {
          display: flex;
          align-items: center;
          width: 38px;

          .count-text {
            padding-left: 4px;
            text-align: left;
            color: $gray6;
            word-break: keep-all;
          }
        }
      }

      .icon-btn {
        width: 20px;
        height: 20px;
      }
    }
  }
}
