.feed-list-section {
  .feed-list {
    margin-top: 16px;
  }

  .feed-wrapper:not(:last-child)::after {
    content: '';
    display: block;
    height: 0.5px;
    background-color: $gray2;
    margin: 15px 0 14px;
  }
}
