@use '@/shared/styles/_index.scss' as *;

.feed-list-section {
  margin: 16px 0 24px;

  .feed-wrapper:not(:last-child)::after,
  .skeleton-feed-wrapper:not(:last-child)::after {
    content: '';
    display: block;
    height: 1px;
    background-color: $gray2;
    margin: 15px 0 14px;
  }
}
