.feed-hidden-wrapper {
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .hidden-reason-msg {
    margin-top: 8px;
    color: $gray4;
  }

  .hidden-cancel-btn {
    margin-top: 16px;
    width: 39px;
    height: 24px;

    border-radius: 30px;

    background-color: $gray2;
    color: $gray4;
  }

  &::after {
    content: '';
    display: block;
    height: 0.5px;
    background-color: $gray2;
    margin: 36px 0 14px;
  }
}
