.skeleton-feed-wrapper {
  .skeleton-feed-article {
    padding: 0 13px 0 20px;

    .skeleton-feed-header {
      height: 44px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .skeleton-kebab-icon {
        @include skeletonAnimation();
        width: 26px;
        height: 26px;

        border-radius: 6px;
        background-color: $gray2;
      }
    }

    .feed-content {
      display: flex;
      flex-direction: column;

      gap: 4px;

      padding: 19px 0 15px;

      .feed-content-1 {
        @include skeletonAnimation();
        width: 215px;
        height: 14px;
      }

      .feed-content-2 {
        @include skeletonAnimation();
        width: 161px;
        height: 14px;
      }

      & > * {
        background-color: $gray2;
        border-radius: 4px;
      }
    }

    .feed-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .footer-left {
        display: flex;
        gap: 6px;
      }

      .skeleton-footer-icon {
        @include skeletonAnimation();
        width: 26px;
        height: 26px;
        background-color: $gray2;

        border-radius: 4px;
      }
    }
  }
}
