.skeleton-feed-section {
  width: 320px;
  height: 508px;
  margin: 16px 0 24px;

  overflow: hidden;

  .skeleton-feed-wrapper:not(:last-child)::after {
    content: '';
    display: block;
    height: 1px;
    background-color: $gray2;
    margin: 15px 0 14px;
  }
}
